* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

body {
  margin: 0 auto;
  max-width: 90%;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
}

#root,
#main,
.app {
  display: flex;
  width: 100%;
}

#main {
  flex-grow: 1;
  margin: 30px 0;
}

.app {
  flex-flow: column;
}

aside {
  min-width: 20vw;
  margin: 0 30px 0 0;
}

footer {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
}
