aside > nav {
}
aside > nav > ul {
  list-style-type: none;
}
aside > nav > ul > li {
}
aside > nav > ul > li > a {
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 0;
  transition: 0.2s;
}

aside > nav > ul > li > a:hover {
  transform: translateX(20px);
}

aside > nav > ul > li > a.active {
  padding-left: 10px;
  border-left: 4px solid black;
}
